{% extends '_base.html' %}

{% block page_title %}
    Blog Page
{% endblock %}

{% block content %}
    <h1>wellcome to Blog Page</h1>
    <h1>---------------------------</h1>

    {% for blog in blogs %}
        <h3>title : {{ blog.title }}</h3>
        <h4>author : {{ blog.author }}</h4>
        <h5>Last update : {{ blog.update_at }}</h5>
        <button class="button" type="submit"><a href="{% url 'Blog_detail_View'  blog.id %}">Read More</a></button>
        <h1>------------------------------------------------------------------------------------------</h1>

    {% endfor %}
    {% if user.is_authenticated %}

        <button class="button" type="submit"><a href="{% url 'Blog_create_View' %}">Create New Blog</a></button>
    {% else %}
        <p>before add blog, you must be login</p>
        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">login</a>
    {% endif %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>


            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}

        </ul>
    </nav>
{% endblock %}